body{
    background:url(../image/woodtable.jpg);
    background-size: 100%;
    overflow: auto;
}



#divLoading{
    top:-5vw;
    color:red;
    position:absolute;
    width:100vw;
    height:120vh;
    z-index:3000;
    background-color: black;"
}

#map-container{
    position:relative;
    margin-top:0vw;
    margin-left:2.5vw;
    width: 95vw;
    height: 55vw;
    padding: 0px;
    filter: drop-shadow(0.5vw 0.5vw 0.2vw black);
    /*animation: float 6s -0s ease-in-out infinite;*/
}

#map{
    position: relative;
    width:100%;
    height:100%;
    overflow: hidden;
    padding: 0px;
    -webkit-mask-image: url(../image/mask.png);
    -webkit-mask-size:100% 100%;
    /*-webkit-mask-position:-3.3vw -2vw;
    -webkit-mask-size:105% 105%;*/

    /*-webkit-mask-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 20%,rgba(0, 0, 0, 1) 90%,rgba(0, 0, 0, 0) 100% );
*/

     
}

#button{
    position: fixed;
    box-sizing: border-box;
    width:0px;
    height:0px;
}


#bkground{
    position: absolute;
    width:300vw;
    z-index: -100;
    -webkit-mask-image: url(../image/ink.png);
    -webkit-mask-position:0% -1%;
    -webkit-mask-size:833% 33%;
    
    float:left;

}
@keyframes mask{
    0% {
    -webkit-mask-position:0% -1%;
    }
    99% {
    -webkit-mask-position:109.1% -1%;
    }
    100%{
    -webkit-mask-image:none;
    }
}

#btn-mode{
    position: absolute;
    width:6.5vw;
    height:6.5vw;
    left:147vw;
    top:74vw;
    animation: float-no-shadow 3s 0s ease-in-out infinite;
    cursor: pointer;
}
#btn-mode:hover{
    filter: drop-shadow(0vw 0.5vw 1vw #BB5500);
}

#boat{
    position: absolute;
    width:6.5vw;
    height:6.5vw;
    left:163vw;
    top:112vw;
    background: url(../image/boat.png);
    background-size: 100%;
}

#ship{
    position: absolute;
    width:6.5vw;
    height:6.5vw;
    left:218vw;
    top:80vw;
    background: url(../image/ship.png);
    background-size: 100%;
}

.sail{
    animation: sail 5s 0s ease-in-out infinite;
}

@keyframes sail{
    0%{
        transform: translateX(0vw);
    }
    20%{
        transform: translateX(0vw);
    }
    40%{
        transform: translateX(10vw);
    }
    60%{
        transform: translateX(10vw) scaleX(-1);
    }
    80%{
        transform: translateX(0vw) scaleX(-1);
    }
    100%{
        transform: translateX(0vw) scaleX(1);
    }
}



#manu{
    position:fixed;
    z-index: 90;
    width:20vw;
    height: 22vw;
    top:2vw;
    left:3vw;
    background:url(../image/list_empty.png);
    background-size: 100%;
    animation: float 6s -5s ease-in-out infinite;
}

#manu-shadow{
    position:fixed;
    z-index: 80;
    width:16vw;
    height: 15vw;
    top:8vw;
    left:5vw;
}

#list{
    position:absolute;
    margin-top:7vw;
    height:12vw;
    width:10vw;
    left:5vw;
    text-align: center;
}

.listbtn{
    height:2.4vw;
    box-sizing: border-box;
    cursor: pointer;
}


.listbtn:hover{
    filter: drop-shadow(0.5vw 0.5vw 0.2vw white);
}

#listbtn-information-1{
    animation: float-no-shadow 5s -1s ease-in-out infinite;
}

#listbtn-photos{
    animation: float-no-shadow 7s -2s ease-in-out infinite;
}

#listbtn-register-1{
    animation: float-no-shadow 4.5s -3s ease-in-out infinite;
}

#listbtn-about{
    animation: float-no-shadow 6s -4s ease-in-out infinite;
}

#listbtn-home{
    animation: float-no-shadow 6s -5s ease-in-out infinite;
}


.icon{
    display:inline-block;
    box-sizing: border-box;
    position:absolute;
    left:0vw;
    width:3vw;
    height: 3vw;
    text-align: center;
}

.iconimg{
    height:100%;
}

.icontext{
    display:inline-block;
    position: absolute;
    box-sizing: border-box;
    left:3vw;
    width: 7vw;
    height: 3vw;
    text-align: center;
    padding:0px;
    
}

.icontextimg{
    margin-top:1vw;
    height: 1vw;
}

.anchor{
    position:absolute;
    z-index: 100;
    color:white;
    visibility: hidden;
}

#home{
    left:100vw;
    top:65vw;
}

#information-1{
    top:140vw;
}

#information-2{
    top:75vw;
}

#information-3{
    top:3vw;
}

#information-4{
    left:100vw;
}

#photos{
    top:5vw;
    left:200vw;
}

#register-1{
    left:200vw;
    top:65vw;
}
#register-2{
    left:200vw;
    top:138vw;
}

#about{
    left:100vw;
    top:140vw;
}





#btn-home{
    display: none;
    animation: float 6s -0s ease-in-out infinite;
}

#btn-information-1{
    top:45vw;
    left:10vw;
    animation: float 6s -1s ease-in-out infinite;
}

#btn-information-2{
    display:none;
    animation: float 6s -1s ease-in-out infinite;
}

#btn-information-3{
    display:none;
    animation: float 6s -1s ease-in-out infinite;
}

#btn-information-4{
    display:none;
    animation: float 6s -1s ease-in-out infinite;
}

#btn-photos{
    top:5vw;
    left:75vw;
    animation: float 6s -2s ease-in-out infinite;
}

#btn-register-1{
    animation: float 6s -3s ease-in-out infinite;
}

#btn-register-2{
    display: none;
    animation: float 6s -3s ease-in-out infinite;
}

#btn-about{
    animation: float 6s -4s ease-in-out infinite;
}



.up{
    top:2vw;
    left:42vw;
}
.down{
    top:50vw;
    left:42vw;
}
.left{
    top:25vw;
    left:3vw;
}
.right{
    top:25vw;
    left:82vw;
}

.rightup{
    top:2vw;
    left:82vw;
}

.rightdown{
    top:50vw;
    left:82vw;
}
.leftup{
    top:2vw;
    left:3vw;
}
.leftdown{
    top:50vw;
    left:3vw;
}


.btn {
    position:fixed;
    
    width: 16vw;

    z-index: 100;

    box-sizing: border-box;
    border-radius: 10%;

    filter: drop-shadow(0px 1vw 1vw rgba(0,0,0,0.6));
    transform: translatey(0px);

    cursor: pointer;
}

#mobile{
    position: fixed;
    box-sizing: border-box;
    width: 70vw;
    height: 50vw;
    left: 15vw;
    top: 80vw;
    z-index: 500;

}

#phone{
    opacity: 0;
    position: absolute;
    width: 25vw;
    animation: rotate-move 5s 2s ease-in-out infinite both;
}


@keyframes rotate-move {
    0%{
        opacity: 0;
        transform: translate(0vw,0vw) rotate(0deg);
    }
    20%{
        opacity: 1;
        transform: translate(0vw,0vw) rotate(0deg);
    }
    40%{
        opacity: 1;
        transform: translate(0vw,0vw) rotate(0deg);
    }
    80%{
        opacity: 1;
        transform: translate(30vw,12vw) rotate(90deg);
    }
    100%{
        opacity: 0;
        transform: translate(30vw,12vw) rotate(90deg);
        
    }
}

@keyframes float {
    0% {
        filter: drop-shadow(0px 1vw 1vw rgba(0,0,0,0.6));
        transform: translateY(0px);
    }
    50% {
        filter: drop-shadow(0px 2vw 1vw rgba(0,0,0,0.2));
        transform: translateY(-1vw);
    }
    100% {
        filter: drop-shadow(0px 1vw 1vw rgba(0,0,0,0.6));
        transform: translateY(0px);
    }
}

@keyframes float-no-shadow{
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-0.3vw);
    }
    100% {
        transform: translateY(0px);
    }
}

.spinner {
  margin: 50vh auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 40%;
  height: 40%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: gray;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

