
#map{
    position:relative;
    margin-top:1vw;
    margin-left:2.5vw;
    width: 95vw;
    height: 55vw;
    overflow: auto;
    padding: 0px;}


#bkground{
    position: absolute;
    width:300vw;
    z-index: -100;
    -webkit-mask-image: url(../image/ink.png);
    -webkit-mask-position:0% -1%;
    -webkit-mask-size:833% 33%;
    animation: mask 2s steps(24) both;
    float:left;
}
@keyframes mask{
    0% {
    -webkit-mask-position:0% -1%;
    }
    99% {
    -webkit-mask-position:109.1% -1%;
    }
    100%{
    -webkit-mask-image:none;
    }
}


.anchor{
    position:absolute;
    z-index: 100;
    color:white;]
}

#home{
    left:100vw;
    top:65vw;
}

#information-1{
    top:130vw;
}

#information-2{
    top:65vw;
}

#information-3{
    top:0vw;
}

#information-4{
    left:100vw;
}

#photos{
    top:5vw;
    left:200vw;
}

#register-1{
    left:200vw;
    top:65vw;
}
#register-2{
    left:200vw;
    top:138vw;
}

#about{
    left:100vw;
    top:130vw;
}





#btn-home{
    display: none;
    animation: float 6s -0s ease-in-out infinite;
}

#btn-information-1{
    animation: float 6s -1s ease-in-out infinite;
}

#btn-information-2{
    display:none;
    animation: float 6s -1s ease-in-out infinite;
}

#btn-information-3{
    display:none;
    animation: float 6s -1s ease-in-out infinite;
}

#btn-information-4{
    display:none;
    animation: float 6s -1s ease-in-out infinite;
}

#btn-photos{
    animation: float 6s -2s ease-in-out infinite;
}

#btn-register-1{
    animation: float 6s -3s ease-in-out infinite;
}

#btn-register-2{
    display: none;
    animation: float 6s -3s ease-in-out infinite;
}

#btn-about{
    animation: float 6s -4s ease-in-out infinite;
}



.up{
    top:2vw;
    left:42vw;
}
.down{
    top:50vw;
    left:42vw;
}
.left{
    top:25vw;
    left:3vw;
}
.right{
    top:25vw;
    left:82vw;
}

.rightup{
    top:2vw;
    left:82vw;
}

.rightdown{
    top:50vw;
    left:82;
}
.leftup{
    top:2vw;
    left:3vw;
}
.leftdown{
    top:50vw;
    left:3vw;
}

/*.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

.btn {
    position:fixed;
    
    width: 16vw;

    box-sizing: border-box;
    border-radius: 10%;

    filter: drop-shadow(0px 1vw 1vw rgba(0,0,0,0.6));
    transform: translatey(0px);
}

/*.btn-back {
    position:fixed;
    
    width: 16vw;

    box-sizing: border-box;
    border-radius: 10%;

    filter: drop-shadow(0px 1vw 1vw rgba(0,0,0,0.6));
    transform: translatey(0px);
}*/


@keyframes float {
    0% {
        filter: drop-shadow(0px 1vw 1vw rgba(0,0,0,0.6));
        transform: translatey(0px);
    }
    50% {
        filter: drop-shadow(0px 2vw 1vw rgba(0,0,0,0.2));
        transform: translatey(-1vw);
    }
    100% {
        filter: drop-shadow(0px 1vw 1vw rgba(0,0,0,0.6));
        transform: translatey(0px);
    }
}


