#newspaper-container{
    position:relative;
    padding-top:2vw;
    padding-bottom:2vw;
    box-sizing: border-box;
    position:relative;
    left:120vw;
    top:88vw;
    width:60vw;
    height:50vw;
    overflow:auto;
    -webkit-mask-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 15%,rgba(0, 0, 0, 1) 85%,rgba(0, 0, 0, 0) 100% );

}

#newspaper{
    position:absolute;
    width: 100%;
    background:green;
}

#dance{
    width:20vw;
    height: 20vw;
    left:5vw;
    top:5vw;
    
}

.gif{
    position: absolute;
    z-index: 5;
    box-sizing: border-box;
   
}

#convene1{
    width: 13.8vw;
    height: 20.5vw;
    left:30.5vw;
    top:10.2vw;
}

#convene2{
    width: 14vw;
    height: 13.5vw;
    left:0.8vw;
    top:16.5vw;
    
}

#convene3{
    width: 14vw;
    height: 13.4vw;
    left:15.7vw;
    top:16.5vw;

}

#convene4{
    width: 7vw;
    height: 11.1vw;
    left:52.5vw;
    top:23.3vw;
    opacity: 0;
}

#activity{
    width: 18.8vw;
    height: 19.3vw;
    top:50.8vw;
    left:1vw;
    opacity: 0;
}

#finance{
    width: 9.5vw;
    height: 9.3vw;
    top:60.8vw;
    left:20.5vw;
    opacity: 0;
}

#course{
    width: 19vw;
    height: 19vw;
    top:51vw;
    left:40vw;
    opacity: 0;
}

#art{
    width: 21vw;
    height: 20vw;
    top:70.5vw;
    left:16vw;
    opacity: 0;

}

#mis{
    width: 14vw;
    height: 12.2vw;
    top:91vw;
    left:1.5vw;
    opacity: 0;
}

#accompany{
    width: 14.5vw;
    height: 14.5vw;
    top:90.7vw;
    left:44.7vw;
    opacity: 0;
}

#edit{
    width: 9.5vw;
    height: 9.3vw;
    top:51vw;
    left:30vw;
    opacity: 0;

}

